{% extends 'base.html' %}
{% load user_filters %}

{% block title %}
  Дело
{% endblock %}

{% block body %}<div class="container p-3">
  <div class="card m-5 color-y">
    <div class="card-header">
      <h3 class="m-0">Дело</h3><span class="muted text-end">{{ case }}</span>
    </div>
    <div class="card-body">
      <form method="post" id="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
          <div class="bg-danger p-3 mb-3 text-white rounded-3">
            {{ error }}
          </div>
        {% endfor %}
        {% if error_message %}
          <div class="bg-warning p-3 mb-3 text-white rounded-3">
            {{ error_message }}
          </div>
        {% endif %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="bg-danger p-3 mb-3 text-white rounded-3">
              <strong>{{ field.label }}</strong>: {{ error }}
            </div>
          {% endfor %}
        {% endfor %}
        <div class="row row-cols-1 row-cols-lg-2">
          <div class="col row align-items-center justify-content-end">
            <div class="col"><strong>Пользователь</strong></div>
            <div class="col-12 col-lg text-end"><a class="h5 text-black text-decoration-none" href="{% url 'main:profile' %}">{{ case.user }}</a></div>
          </div>
          <div class="col row align-items-center justify-content-end">
            <div class="col"><strong>Создано</strong></div>
            <div class="col-12 col-lg text-end">{{ case.created_at|date:"d.m.Y H:i" }}</div>
          </div>
          <div class="col row align-items-end">
            <div class="col"><strong>Квитанция об уплате госпошлины</strong></div>
            <div class="col-1 text-end">
              <a id="receipt_button" class="h5 text-black text-decoration-none" href="#">
                {% if receipt %}✅{% else %}⏳{% endif %}
              </a>
            </div>
          </div>
          <div class="col row align-items-end">
            <div class="col"><strong>Заявление</strong></div>
            <div class="col-1 text-end">
              <a id="statement_button" class="h5 text-black text-decoration-none" href="#">
                {% if statement %}✅{% else %}⏳{% endif %}
              </a>
            </div>
          </div>
          <div class="col row align-items-end">
            <div class="col"><strong>Договор управления МКД</strong></div>
            <div class="col-1 text-end">
              <a class="h5 text-black text-decoration-none" href="{% url 'main:profile' %}">
                {% if case.user.mkd %}✅{% else %}❌{% endif %}
              </a>
            </div>
          </div>
          <div class="col row align-items-end">
            <div class="col"><strong>Выписка из ЕГРЮЛ</strong></div>
            <div class="col-1 text-end">
              <a class="h5 text-black text-decoration-none" href="{% url 'main:profile' %}">
                {% if case.user.egrul %}✅{% else %}❌{% endif %}
              </a>
            </div>
          </div>
          <div class="col row align-items-top">
            <div class="col">
              <strong>Расчеты по задолженности</strong>
            </div>
            {% if case.debt_statement %}<div class="col col-lg-3 text-end">
              <a class="text-black" href="#" onclick="$('#form_debt_statement').prop('hidden', false); $(this).prop('hidden', true)">
                изменить
              </a>
            </div>{% endif %}
            <div class="col-1 text-end">
              <a class="h5 text-black text-decoration-none">
                {% if case.debt_statement %}✅{% else %}❌{% endif %}
              </a>
            </div>
            <div id="form_debt_statement" class="col-12 p-1"{% if case.debt_statement %} hidden{% endif %}>
              <input type="file" name="debt_statement" class="form-control" id="id_debt_statement" accept="application/pdf">
            </div>
          </div>
          <div class="col row align-items-top">
            <div class="col">
              <strong>Выписки из ЕГРН</strong>
            </div>
            {% if case.egrn %}<div class="col col-lg-3 text-end">
              <a class="text-black" href="#" onclick="$('#form_egrn').prop('hidden', false); $(this).prop('hidden', true)">
                изменить
              </a>
            </div>{% endif %}
            <div class="col-1 text-end">
              <a class="h5 text-black text-decoration-none">
                {% if case.egrn %}✅{% else %}❌{% endif %}
              </a>
            </div>
            <div id="form_egrn" class="col-12 p-1"{% if case.egrn %} hidden{% endif %}>
              <input type="file" name="egrn" class="form-control" id="id_egrn" accept="application/pdf">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer text-end">
      <button id="form_submit_button" class="btn btn-primary mb-1" onclick="$('#form').submit();">
        Сохранить
      </button>
      <button type="button" class="btn btn-danger mb-1" data-bs-toggle="modal" data-bs-target="#deleteModal">
        Удалить
      </button>
      <button id="upload_button" onclick="window.location.href = `{% url 'main:create_document_pack' case.id %}`" class="btn btn-success">
        Выгрузить
      </button>
    </div>
  </div>
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content color-y">
        <div class="modal-header color-y">
          <h5 class="modal-title" id="deleteModalLabel">Подтверждение удаления</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-white">
          Вы уверены, что хотите удалить Дело?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <button type="button" class="btn btn-danger" id="confirm_delete_button">Удалить</button>
        </div>
      </div>
    </div>
  </div>
</div>{% endblock %}

{% block scripts %}
<script>
  var
    debtStatement = '{{ case.debt_statement }}' != '',
    egrn = '{{ case.egrn }}' != '';
  const
    receiptButton = $('#receipt_button'),
    statementButton = $('#statement_button'),
    formSubmitButton = $('#form_submit_button'),
    confirmDeleteButton = $('#confirm_delete_button'),
    uploadButton = $('#upload_button');

  $(document).ready(() => {
    formSubmitButton.prop('disabled', true)
    uploadButton.prop('disabled', true)

    $('#id_statement').change(function() {
      debtStatement = $(this).val() != ''
      formSubmitButton.prop('disabled', !(debtStatement && egrn))
    })

    $('#id_egrn').change(function() {
      egrn = $(this).val() != ''
      formSubmitButton.prop('disabled', !(debtStatement && egrn))
    })

    receiptButton.click(updateReceipt)
    statementButton.click(updateStatement)

    function sendPostRequest(url, callback) {
      $.ajax({
        type: 'POST',
        url: url,
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        },
        success: callback
      });
    }

    function updateReceipt() {
      // receiptButton.text('❓️');
      sendPostRequest("{% url 'main:check_receipt' case.id %}", function(response) {
        if (response.success) {
          receiptButton.text('✅');
        } else {
          receiptButton.text('⏳');
        }
      })
    }

    function updateStatement() {
      // statementButton.text('❓️');
      sendPostRequest("{% url 'main:check_statement' case.id %}", function(response) {
        if (response.success) {
          statementButton.text('✅')
        } else {
          statementButton.text('⏳')
        }
      })
    }
    
    function updateUpload() {
      // uploadButton.prop('disabled', true);
      sendPostRequest("{% url 'main:check_upload' case.id %}", function(response) {
        uploadButton.prop('disabled', !response.success);
      });
    }

    function updateAll() {
      updateReceipt()
      updateStatement()
      updateUpload()
    }

    updateAll()
    setInterval(updateAll, 10000);

    confirmDeleteButton.click(function() {
      window.location.href = "{% url 'main:delete_case' case.id %}";
    });
  });
</script>
{% endblock %}