{% extends 'base.html' %}

{% block title %}
  Дела пользователя
{% endblock %}

{% block head %}<style>
  .ui-autocomplete.dropdown-menu {
    border: none;
    box-shadow: none;
    padding: 0;
  }

  .ui-autocomplete.dropdown-menu .dropdown-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-bottom: 1px solid #dee2e6;
    transition: background-color 0.2s;
  }

  .ui-autocomplete.dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
  }

  .ui-autocomplete.dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa;
  }

  #search-input:hover {
    cursor: text;
  }

  .ui-helper-hidden-accessible {
    display: none;
  }
</style>{% endblock %}

{% block body %}<div class="container p-3">
  <h3 class="text-white">Все дела пользователей</h3>
  <form id="search-form" method="GET">
    <div class="input-group">
      <input type="text" id="search-input" name="q" class="form-control" placeholder="Найти..." value="{{ q }}">
      <button type="submit" class="btn btn-primary">Поиск</button>
    </div>
  </form>
  <div id="search-results"></div>
  {% for case in cases %}
    <div class="card m-5 mb-3 color-y">
      <div class="card-header text-center p-3">
        <h3 class="m-0 p-0">{% if case %}{{ case }}{% endif %}</h3>
      </div>
      <div class="card-body row row-cols-2">
        <div class="col row align-items-center justify-content-end">
          <div class="col"><strong>Пользователь</strong></div>
          <div class="col-8 text-end"><a class="h5 text-black text-decoration-none" href="{% url 'main:profile' %}">{{ case.user }}</a></div>
        </div>
        <div class="col row align-items-center justify-content-end">
          <div class="col"><strong>Создано</strong></div>
          <div class="col-8 text-end">{{ case.created_at }}</div>
        </div>
        <div class="col row align-items-center">
          <div class="col"><strong>Квитанция об уплате госпошлины</strong></div>
          <div class="col-1 text-end">
            <a class="h5 text-black text-decoration-none">
              {% if case.receipt %}✅{% else %}⏳{% endif %}
            </a>
          </div>
        </div>
        <div class="col row align-items-center">
          <div class="col"><strong>Заявление</strong></div>
          <div class="col-1 text-end">
            <a class="h5 text-black text-decoration-none">
              {% if case.statement %}✅{% else %}⏳{% endif %}
            </a>
          </div>
        </div>
        <div class="col row align-items-center">
          <div class="col"><strong>Договор управления МКД</strong></div>
          <div class="col-1 text-end">
            <a class="h5 text-black text-decoration-none" href="{% url 'main:profile' %}">
              {% if case.user.mkd %}✅{% else %}❌{% endif %}
            </a>
          </div>
        </div>
        <div class="col row align-items-center">
          <div class="col"><strong>Выписка из ЕГРЮЛ</strong></div>
          <div class="col-1 text-end">
            <a class="h5 text-black text-decoration-none" href="{% url 'main:profile' %}">
              {% if case.user.egrul %}✅{% else %}❌{% endif %}
            </a>
          </div>
        </div>
        <div class="col row align-items-center">
          <div class="col"><strong>Расчеты по задолженности</strong></div>
          <div class="col-1 text-end">
            <a class="h5 text-black text-decoration-none">
              {% if case.debt_statement %}✅{% else %}❌{% endif %}</div>
            </a>
        </div>
        <div class="col row align-items-center">
          <div class="col"><strong>Выписки из ЕГРН</strong></div>
          <div class="col-1 text-end">
            <a class="h5 text-black text-decoration-none">
              {% if case.egrn %}✅{% else %}❌{% endif %}</div>
            </a>
        </div>
      </div>
      <div class="col col-12">
        <a href="{% url 'main:case' case.pk %}" class="btn btn-primary w-100">Подробнее</a>
      </div>
    </div>
  {% empty %}
    <div class="py-3">
      <h2 class="text-white">
        Дела по запросу не найдены
      </h2>
    </div>
  {% endfor %}
</div>{% endblock %}

{% block scripts %}<script>
  $(() => {
    var searchInput = $("#search-input");
    var searchResults = $("#search-results");

    const queryParams = new URLSearchParams(window.location.search);
    searchInput.val(queryParams.get("q"))

    searchInput.autocomplete({
      source: "{% url 'user:search' %}",
      minLength: 2
    }).autocomplete("instance")._renderItem = function(ul, item) {
      return $('<li>')
        .append(
          $('<div>', {
            class: 'dropdown-item',
            text: item.label,
            click: () => {
              window.location.href = "/auth/edit/" + item.value + "/";
            }
          })
        )
        .appendTo(ul);
    };

    // Настройте стили для выпадающего списка
    searchInput.autocomplete("instance")._renderMenu = function(ul, items) {
      ul.addClass("dropdown-menu");
      console.log(items)
      var that = this;
      $.each(items, (index, item) => {
        console.log(item)
        that._renderItem(ul, item);
      });
    };

    // Обработчик события фокуса для активации поиска
    searchInput.on("focus", () => {
      searchInput.autocomplete("search");
    });
});
</script>{% endblock %}
