{% extends 'base.html' %}

{% block title %}
  Новое дело
{% endblock %}

{% block head %}<style>
  ul.errorlist {
    display: none;
  }
</style>{% endblock %}

{% block body %}<div class="container p-3">
  <h1 class="text-white">Новое Дело</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
      <div class="bg-danger p-3 mb-3 text-white rounded-3">
        {{ error }}
      </div>
    {% endfor %}
    {% if error_message %}
      <div class="bg-warning p-3 mb-3 text-white rounded-3">
        {{ error_message }}
      </div>
    {% endif %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="bg-danger p-3 mb-3 text-white rounded-3">
          <strong>{{ field.label }}</strong>: {{ error }}
        </div>
      {% endfor %}
    {% endfor %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Отправить</button>
  </form>
</div>{% endblock %}
